<!DOCTYPE html>
<html>
<head>
    <title>Graph</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
    $(document).ready(function() {
      // Make an AJAX request to the server to get XML data
      $.ajax({
        url: '/',
        method: 'GET',
        dataType: 'json',
        success: function(parameterValues) {
          // Use the extracted parameter values in your code
          // For example, you can update the DOM with the values
          // or perform any necessary operations with the data
          console.log(parameterValues);
        },
        error: function() {
          console.log('Error occurred while retrieving XML data');
        }
      });
    });
  </script>
</head>
<body>
    <div id="graph"></div>
    <script>
        // Function to update the graph with new data
        function updateGraph() {
            $.ajax({
                url: '/',
                type: 'GET',
                success: function(data) {
                    var values = JSON.parse(data);
                    var x = Object.keys(values);
                    var y = Object.values(values);
                    
                    var trace = {
                        x: x,
                        y: y,
                        type: 'bar'
                    };
                    
                    var layout = {
                        title: 'Parameter Values',
                        xaxis: {
                            tickangle: -45
                        }
                    };
                    
                    var data = [trace];
                    
                    Plotly.newPlot('graph', data, layout);
                }
            });
        }
        
        // Refresh the graph every 5 seconds
        setInterval(updateGraph, 5000);
        
        // Initial graph update
        updateGraph();
    </script>
</body>
</html>
