<!DOCTYPE html>
<html>
<head>
  <title>Vislink Receiver Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Vislink Receiver Data</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="graph"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p id="timestamp"></p>
      </div>
    </div>
  </div>

  <script>
    // Function to create and update the graph
    function updateGraph(data) {
      var xData = ['Frequency', 'MER 1', 'MER 2', 'MER 3', 'MER 4'];
      var yData = [
        data.frequency_rx4,
        data.mer_1_rx4,
        data.mer_2_rx4,
        data.mer_3_rx4,
        data.mer_4_rx4
      ];

      // Define color thresholds and corresponding colors
      var colorThresholds = [10, 20];
      var colors = ['red', 'orange', 'green'];

      // Assign colors based on value ranges
      var barColors = yData.map(function(value) {
        if (value <= colorThresholds[0]) {
          return colors[0]; // red
        } else if (value <= colorThresholds[1]) {
          return colors[1]; // orange
        } else {
          return colors[2]; // green
        }
      });

      var trace = {
        x: xData,
        y: yData,
        type: 'bar',
        marker: {
          color: barColors // Set the color for each bar
        }
      };

      var layout = {
        title: 'Vislink Receiver Data',
        xaxis: { title: 'Parameter' },
        yaxis: { title: 'Value', range: [0, 30] } // Set the y-axis range to 0-30
      };

      Plotly.newPlot('graph', [trace], layout);

      // Update the timestamp with current time
      var timestampElement = document.getElementById('timestamp');
      var currentTime = new Date().toLocaleTimeString();
      timestampElement.innerText = 'Last Updated: ' + currentTime;
    }

    // Function to periodically update the graph with data from the server
    function setIntervalWithData(url, interval) {
      setInterval(function() {
        $.ajax({
          url: url,
          type: 'GET',
          dataType: 'json',
          success: function(data) {
            updateGraph(data);
          },
          error: function(xhr, status, error) {
            console.error('Error retrieving data:', error);
          }
        });
      }, interval);
    }

    // Set the interval to update the graph every 2.5 seconds (2500 ms)
    setIntervalWithData('/data', 2500);
  </script>
</body>
</html>
